.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
    0%, 100% {
        transform: rotate(0)
    }
    20%, 60% {
        transform: rotate(-25deg)
    }
    40%, 80% {
        transform: rotate(10deg)
    }
}

@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}

.sidebar {
    width: 50px;
    text-align: center;
    position:fixed;
    bottom: 30px;
    right: 10px;
}

.sidebar > .ant-btn {
    width: 40px;
    height: 40px;
    margin: 5px auto;
    padding: 5px;
    border: solid 1px rgb(44, 44, 44);
    border-radius: 20px;
}

.sidebar > .ant-btn:hover {
    color: rgb(44, 44, 44);
    font-size: large;
}

.sidebar > .ant-btn:focus {
    color: rgb(44, 44, 44);
    font-size: large;
}
