@import '~antd/dist/antd.css';

html, body {
    background-color: white;
    overflow: hidden;
}

.home #logo-header {
    width: 60%;
    height: 300px;
    margin: 120px auto 30px;
}

.home #main-content {
    width: 80%;
    height: 300px;
    margin: 20px auto;
}
